/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  margin: 0 auto;  
  width: 1400px;
  height: 100%;
  background-color: #e0e0de;
}

.conteiner {
  margin: 0 auto;
  width: 1165px;
}

.header {
  width: 100%;
  height: 140px;
  background-color: #f7f8f7;

  display: flex;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 115px;
  width: 240px;
  height: 100%;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 165px;
  height: 20px;
}

.menu {
  width: 240px;
  height: 100%;
  margin-right: 115px;
}

.works {
  margin: 0 auto;
  padding: 45px 0 45px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1165px;
  height: 100%;
}

.works__item {
  position: relative;
  width: 255px;
  height: 255px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 5px solid #fff;
}

.works__item:hover .works__item__highlighted {
  /* display: flex; */
  opacity: 1;
  transition: all 0.3s ease-in;
}

.works__item:hover .title {
  transform: translateX(0);
}

.works__item:hover .activity {
  transform: translateX(0);
}

.works__item__highlighted {
  overflow: hidden;
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
}

.title {
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.514);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transform: translateY(-100%);
  transition: all 0.3s ease-in;
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: 60px;
  background: #fff;
  transform: translateY(100%);
  transition: all 0.3s ease-in;
}

.activity__wrapper {
  width: 80px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9f9d9b;
  font-size: 13px;
  font-weight: 700;
}

.activity__item {
  width: 15px;
  height: 15px;
  object-fit: contain;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.activity__full-frame {
  cursor: pointer;
  margin-right: 10px;
}

.hero-text {
  margin-bottom: 25px;
  padding: 75px 290px 75px 290px;
  width: 100%;
  height: 400px;
  background-color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
}

.hero-text__title {
  text-align: center;
}

.hero-text__text {
  margin: 25px 0 25px 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-align: center;
  color: #444444;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 190px;
  height: 45px;
  letter-spacing: 1px;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #444444;
  transition: all 0.2s ease-in;
}

.blog {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}


.blog__post {
  display: flex;
  margin-bottom: 40px;
}

.post {
  padding: 30px;
  width: 710px;
  height: 455px;
  background-color: #fff;
}

.post__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  color: #a7a9ad;
}

.post__title {
  margin: 15px 0 15px 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
}

.post__body {
  display: flex;
  justify-content: space-between;
}

.post__image {
  width: 221px;
  height: 221px;
  border: 5px solid #f0f0f0;
}

.post__image-title {
  margin-top: 15px;
  font-size: 12px;
  color: #8a8888;
}

.post__text {
  width: 390px;
}
.post__text span {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #8a8888;
}

.post__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  width: 150px;
  background-color: #f0f0f0;
  font-family: "Yanone Kaffeesatz", sans-serif;  
}

.post__avtor {
  font-size: 20px;
}

.post__data span {  
  display: block;
  font-size: 14px;
  line-height: 0.4;
  letter-spacing: 1px;
  color: #e6618c;
}

.post__foto {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 46px;
  height: 46px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.icon {
  margin-top: 15px;
  text-align: center;
  color: #c8c8c8;
}



.categorys {
  width: 265px; 
  height: 455px;   
  background-color: #fff;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categorys__title {
  text-align: center;
  font-size: 20px;
  font-family: "Yanone Kaffeesatz", sans-serif; 
}

.categorys__list {
  display: block;
  margin-left: 45px;  
  font-size: 13px;
}

.categorys__sublist {
  color: #e6618c;
  margin-left: 10px;
}

.categorys__link {
  position: relative;
  margin-top: 15px;
}

.categorys__link::before{
  position: absolute;
  top: 6px;
  left: -13px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #000000 transparent transparent transparent;
}

.categorys__sublink {
  position: relative;
  margin-top: 10px;
}

.categorys__sublink::before{
  position: absolute;
  top: 4px;
  left: -13px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 6px;
  border-color: transparent transparent transparent #c2c2c2;
}

.contactme-wrapper {
  display: flex;
  justify-content: space-between;
}

.contactme {
  width: 565px;
  height: 655px;
  background-color: #fff;
  padding: 30px;  
}

.contactme__title {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;   
}

.contactme__text {
  font-size: 14px;
  color: #939292;
  margin-bottom: 30px;
}

.input {
  width: 265px;
  height: 45px;  
  background-color: #f2f2f2;
  border: 1px solid #d6d6d6;
  margin: 10px 0 10px 0;
}

.input::placeholder {
  color: #c0c0c0;
}

.massage {
  width: 500px;
  height: 240px;
  background-color: #f2f2f2;
  border: 1px solid #d6d6d6;
  margin: 10px 0 10px 0;
  resize: none;
}

.massage::placeholder {
  color: #c0c0c0;
}

.button.left {
  margin: 20px 0 0 0;
}

.contactme__form label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #939292;
  margin-left: 20px;
}

.randompost-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.randompost {
  width: 265px;
  height: 350px;
  margin-left: 35px;
  padding: 45px 30px;
  background-color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.randompost__title {   
  font-size: 28px;  
}

.randompost__img {
  width: 195px;
  height: 169px;
  object-fit: cover;
  margin: 20px 0;
}

.randompost__text {  
  font-size: 20px;
}

.bio {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px auto;
  width: 565px;
  height: 260px;
  background-color: #fff;
}

.bio__logo {
  width: 165px;
  height: 20px;
}

